html {
  font-size: 22px;
}

.page-title {
  font-size: 3rem;
  text-align: center;

  /* your code here */
  position: fixed;
  left: 25%;
  right: 25%;

  /* margin-left: -1em;
  margin-right: -1em; */
}
